.container {    
    height: 19vh;
    /* border-top: 3px solid #596a8d; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 50px;
    background-color: #06122f;    
}

.title {
    font-weight: 400;
    color: white;
    /* background-color: #596a8d; */
    padding: 5px;
    width: max-content;
}

/* .linkTitle {
    text-decoration: underline;    
} */

.link {
    display: flex;
    align-items: center;
}

.linkText {
    margin-right: 20px;
    font-weight: 200;
    font-size: 30px;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
}

.cardL {
    /* padding-top: px;     */
    flex: 2;
}

.cardS {
    flex: 1;
    font-size: 1.1vw;
}

.cardItem {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width: 480px) {
    .container{
        height: auto;
        flex-direction: column;
    }

    .title, .linkTitle {
        font-size: 2vw;
    }

    .linkText{
        font-size: 6vw;
    }

    .cardItem{
        text-align: center;
        font-size: 15px;
    }
    .linkImg{
        width: 10px;
        height: 10px;
    }
}

