.container {
    display: flex;
    padding: 4.5vw;
    padding-top: 9vw;

    /* width: 100%; */
    height: calc(81vh - 0px);
    /* height: 42.5vw; */
    /* display: flex; */
    /* overflow: hidden; */
    /* position: relative; */
}

.cardL {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.cardS {
    flex: 1;
}

.imgContainer {
    width: 30%;
    margin: 5px;
    position: relative;
}

.imgContainer:nth-child(3) {
    border-top-right-radius: 50%;
    overflow: hidden;
}

.title {    
    font-size: 5vw;
    background-image: url(../public/fondo1.gif);
    background-size: cover;
    color: transparent;
    background-clip: border-box;
    -webkit-background-clip: text;
}

.desc {
    color: #596a8d;
    font-weight: bolder;
    font-size: 1.1vw;
    padding-bottom: 20px;
}

.button {
    border: none;
    background-color: #2b4263;
    color: white;
    font-size: 0.9vw;
    font-weight: bold;
    width: 7vw;
    padding: 0.8vw;
    border-radius: 10px;
    cursor: default;
}

.button:hover{
    background-color: #e6e6e6;
    color: #2b4263;
    border: solid 2px #2b4263;
}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column-reverse;
        padding-top: 100px;
        /* height: calc(280vh - 0px); */
        height: 100%;
    }

    .title {
        
        font-size: 50px;
    }

    .desc{
        font-size: 20px;
        text-align: center;
    }

    .cardS {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imgContainer {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;

    }

    .button {
        margin: 20px 0px;
        padding: 10px;
        width: 100px;
        font-size: 12px;
    }

    .cardL {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .cardL::before {
        content: "ASSETS";
       /* color: #2b4263; */
        font-weight: bolder;
        width: 100%;
        font-size: 50px;
        text-align: center;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;

        font-size: 50px;
        background-image: url(../public/fondo1.gif);
        background-size: cover;
        color: transparent;
        background-clip: border-box;
        -webkit-background-clip: text;
    }

}